<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmpBB2D39E1B330A29CB47F3A19CEFD1E1B" Guid="{A6AC3A2C-DB50-4DDF-98EB-58220659993D}">
                <File Id="fil2B89B67B0079CF57D4F7B69ADDC3551F" KeyPath="yes" Source="$(var.WpfApp2.TargetDir)\WpfApp2.exe" />
            </Component>
            <Component Id="cmp106DAE612002E31FAB0A8C4C660A7F6C" Guid="{81D33EF6-324C-4EC8-BA5F-B7B8A74A8D33}">
                <File Id="fil234AA5B5AA04E100D38C82CBC9337BE0" KeyPath="yes" Source="$(var.WpfApp2.TargetDir)\WpfApp2.exe.config" />
            </Component>
            <Component Id="cmpBE68276098A8EDC1B68126E31815ADAE" Guid="{5654E4DE-5E6B-47CB-A7F1-730039FD1751}">
                <File Id="filE82E50E0692C33638E34A44B507EF225" KeyPath="yes" Source="$(var.WpfApp2.TargetDir)\WpfApp2.pdb" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="MyComponentGroup">
            <ComponentRef Id="cmpBB2D39E1B330A29CB47F3A19CEFD1E1B" />
            <ComponentRef Id="cmp106DAE612002E31FAB0A8C4C660A7F6C" />
            <ComponentRef Id="cmpBE68276098A8EDC1B68126E31815ADAE" />
        </ComponentGroup>
    </Fragment>
</Wix>