<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp6F06AD3CAC82DAAD172821C7B77D2ADE" Guid="{C9CCBC13-7F90-4794-AF2D-B3DD10E37DD6}">
                <File Id="filD4842A06E2A3E0050F232FBD4739C0A0" KeyPath="yes" Source="$(var.WpfApp1.TargetDir)\WpfApp1.exe" />
            </Component>
            <Component Id="cmp9B9F6A8829295C839AD14B5470EA70D5" Guid="{CD77D04F-779C-48C3-B071-120F614A0259}">
                <File Id="filDA2CFB46FACEE12B3C16941B1443D05B" KeyPath="yes" Source="$(var.WpfApp1.TargetDir)\WpfApp1.exe.config" />
            </Component>
            <Component Id="cmp9B9F803EDECFAAF677D9F337F2234FBD" Guid="{511053B9-DAD4-4464-B27F-82CEE6E27D2F}">
                <File Id="filA24265A2657F140115DABCB1107152D2" KeyPath="yes" Source="$(var.WpfApp1.TargetDir)\WpfApp1.pdb" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="MyComponentGroup">
            <ComponentRef Id="cmp6F06AD3CAC82DAAD172821C7B77D2ADE" />
            <ComponentRef Id="cmp9B9F6A8829295C839AD14B5470EA70D5" />
            <ComponentRef Id="cmp9B9F803EDECFAAF677D9F337F2234FBD" />
        </ComponentGroup>
    </Fragment>
</Wix>